@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.container{
    // border: 2px red solid;
    padding: 0 1em;
    width: 375px;
}

// HEADER SETTINGS
header{
    background-image: url(../images/bg-mobile-light.jpg);
    // background-position: ;
    background-repeat: no-repeat;
    border-radius: .5em .5em 0 0;
    padding: 2.5em 1.5em;
    width: 100%;

    display: flex;
    flex-direction: column;

    .todo-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;

        h1{
            color: var(--very-light-gray);
            letter-spacing: .35em;
            text-transform: uppercase;
        }
    
        .dark-mode-toggle{
            cursor: pointer;
            align-self: center;
        }
    }
    .new-task-input{
        border: none;
        border-radius: .5em;
        box-shadow: 0 5px 10px dimgray;
        font-family: inherit;
        outline: none;
        padding: 1em;
        width: 100%;
    }
}

// MAIN CONTENT
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--very-light-grayish-blue);
    border-radius: 0 0 .5em .5em;
    height: 100%;
    position: relative;
    padding: 2.5em 1.5em;
    width: 100%;

    .todo-tasks{
        background-color: var(--very-light-gray);
        border-radius: .5em;
        box-shadow: 0 5px 10px dimgray;
        // height: fit-content;
        list-style-type: none;
        position: absolute;
        top: -22px;
        width: 85%; //fix

        .task.completed{
            text-decoration: line-through;
        }

        .task.deleted{
            display: none;
        }

        li, .task{
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: var(--very-dark-grayish-blue);
            cursor: pointer;
            font-size: .8em;
            padding: 1em;
            width: 100%;
            &:first-of-type{
                border: none;
            }

            &:last-of-type{
                border: none;
            }

            .icon-check{
                background: white;
                border: 1px solid var(--light-grayish-blue);
                border-radius: 50%;
                cursor: pointer;
                height: auto;
                margin-right: .5em;
                transition: 0.5s linear all;
                width: 18px;
                z-index: 10;

                &:hover{
                    background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                }
            }
    
            .icon-delete{
                cursor: pointer;
                z-index: 10;
            }
        }
    }
    
        .last-list{
            display: flex;
            justify-content: space-between;
        }
    }   
       
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--very-light-gray);
        border: none;
        border-radius: .5em;
        box-shadow: 0 5px 10px dimgray;
        font-size: .8em;
        font-weight: 700;
        list-style-type: none;
        padding: 1.5em 1.5em;
        position: inherit;
        transition: 0.3s color linear;
        width: 100%;

        li{
            color: var(--dark-grayish-blue);
            cursor: pointer;
            display: inline-block;
            margin-right: 1rem;

            &:last-of-type{
                margin-right: 0;
            }

            &:hover, &:focus, &:active{
                color: var(--right-blue);
            }
        }
    }
    

    p{
        color: var(--dark-grayish-blue);
        font-size: .8em;
        font-weight: 400;
        margin-top: 3em;
    }
