@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.container{
    // border: 2px red solid;
    width: 375px;
}

header{
    background-image: url(../images/bg-mobile-light.jpg);
    // background-position: ;
    background-repeat: no-repeat;
    border-radius: .5em .5em 0 0;
    padding: 2.5em 1.5em;
    width: 100%;

    display: flex;
    flex-direction: column;

    .todo-heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;

        h1{
            color: var(--very-light-gray);
            letter-spacing: .35em;
            text-transform: uppercase;
        }
    
        .dark-mode-toggle{
            cursor: pointer;
            align-self: center;
        }
    }
    .new-task-input{
        border: none;
        border-radius: .5em;
        font-family: inherit;
        outline: none;
        padding: 1em;
        width: 100%;
    }
}

// MAIN CONTENT
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--very-light-grayish-blue);
    border-radius: 0 0 .5em .5em;
    height: 100%;
    position: relative;
    padding: 2.5em 1.5em;
    width: 100%;

    .todo-tasks{
        background-color: var(--very-light-gray);
        border-radius: .5em;
        list-style-type: none;
        position: absolute;
        top: -22px;
        width: 85%; //fix

        li{
            color: var(--very-dark-grayish-blue);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &:first-of-type{
                border: none;
            }

            &:last-of-type{
                border: none;
            }
    
            border-top: 0.5px solid var(--light-grayish-blue);
            border-bottom: 0.5px solid var(--light-grayish-blue);
            font-size: .8em;
            padding: 1em;
    
            .check{
                background: white;
                border: 1px solid var(--light-grayish-blue);
                border-radius: 50%;
                cursor: pointer;
                height: auto;
                margin-right: .5em;
                transition: 0.5s linear all;
                width: 18px;

                &:hover{
                    background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                }
            }
    
            .delete{
                cursor: pointer;
            }
        }
    
        .last-list{
            display: flex;
            justify-content: space-between;
        }
    }   
    
    .navbar{
        border: none;
        display: flex;
        align-items: center;
        font-weight: 700;
        position: inherit;
        transition: 0.3s color linear;
        width: 100%;

        li{
            color: var(--dark-grayish-blue);
            cursor: pointer;

            &:hover, &:focus, &:active{
                color: var(--right-blue);
            }
        }
    }
}